body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

#search-input {
    width: 70%;
    max-width: 500px;
    padding: 20px 30px;
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    font-size: 20px;
    color: grey;
}

#search-btn {
    padding: 20px 30px;
    background-color: blue;
    color: bisque;
    border: none;
    font-size: 20px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

#search-btn:hover {
    background-color: brown;
}

.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
}

.search-result:hover img {
    transform: scale(1.05);
}
